*{
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #666 ;
}
.text-bold{
    font-weight: bold;
}
.container{
    max-width: 90%;
    margin: auto;
    padding-top: 10px;
}

.top-menu{
    display: flex;
    justify-content: space-between;
}
.right-menu ul li{
    display: inline-block;
    margin-right: 7px;
}


/**/

.footer{
    background-color: #008ECC;
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
}

.footer .container{
    display: flex;
    justify-content: space-between;
}
.footer .container h6{
    font-size: 20px;
    margin: 10px 0;
}
.footer .left-content, .middle-content{
    margin-right: 30px;
}
.social-icon{
    display: flex;
    gap: 7px;
    padding: 8px 0;
}
.footer ul{
    padding-left: 22px;
}
.footer ul li{
    list-style-type: disc;
    padding-left: 5px;
    margin: 12px 0;
}
.footer ul li a{
    color: #fff;
}
