*{
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}

ul{
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
    color: #666 ;
}
i{
    color: #05ABF3;
}
.text-bold{
    font-weight: bold;
}
.container{
    max-width: 90%;
    margin: 15px auto;
    padding-top: 10px;
}

.top-menu{
    display: flex;
    justify-content: space-between;
}
.right-menu ul li{
    display: inline-block;
    margin-right: 7px;
}

.break-line1{
    width: 100%;
    height: 2px;
    margin: 10px 0;
    background-color: #EDEDED;
}

/*****************------------main menu----------------***************/

.main-menu{
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.main-menu .logo-box{
    display: flex;
    align-self: center;
    gap: 10px;
}
.main-menu .search-box input{
    padding: 5px 20px;
    width: 120%;
    border-radius: 5px;
    border: 1px solid black;
}
/*------------- category-menu ------------------*/
.category-menu ul li{
    display: inline-block;
    margin-right: 10px;
    border-radius: 25px;
    padding: 8px 11px;
    background-color: #F5F5F5;
    margin-bottom: 10px;
}

/*-------------- slider section ------------------------------*/
.slider-section{
    background-color: #212844;
    border-radius: 10px;
    color: #fff;
}

.slider-section .slider-box{
    padding: 20px 30px;
    display: flex;
    justify-content: space-between;
}


/*-------------daily essential------------------*/
/*-------------daily essential------------------*/
/*-------------daily essential------------------*/

.daily-shopping .heading{
    display: flex;
    justify-content: space-between;
}
.heading h3{
    position: relative;
}
.heading h3::after{
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #008ECC;
    bottom: 0;
    top: 135%;
    position: absolute;
}
.shop-content{
    display: flex;
    flex-wrap: wrap;
}
.shop-item{
    flex-grow: 1;
    flex-basis: 200;
}
.shop-item .item-img{
    background-color: #666;
    padding: 10px 5px;
    margin: 10px 5px;
    border-radius: 16px;
    background: var(--Backgorund-1, #F5F5F5);
}
.item-img img{
    width: 100px;
    height: 100px;
}


.shop-item{
    text-align: center;
}
.shop-item p{
    font-size: 16px;
    color: #666;
}
.shop-item h5{
    font-size: 20px;
    color: #222;
    font-weight: 700;
}


/*-------------footer------------------*/
/*-------------footer------------------*/
/*-------------footer------------------*/

.footer{
    background-color: #008ECC;
    color: #fff;
    padding-top: 20px;
}

.footer .container{
    display: flex;
    gap: 30px;
    padding-bottom: 20px;
}
.footer .container h6{
    font-size: 20px;
    font-weight: 400;
    margin: 10px 0;
}
.footer .container h3{
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 10px;
    position: relative;
}

.footer .left-content, .middle-content{
    margin-right: 30px;
}
.social-icon{
    display: flex;
    gap: 7px;
    padding: 8px 0;
}
.footer .container h3:after{
    content: "";
    display: block;
    width: 100%;
    height: 3px;
    background: #fff;
    bottom: 0;
    top: 85%;
    position: absolute;
}
.footer ul{
    padding-left: 22px;
}
.footer ul li{
    list-style-type: disc;
    padding-left: 5px;
    margin: 12px 0;
}
.footer ul li a{
    color: #fff;
}

.footer .break-line{
    width: 90%;
    height: 2px;
    margin: auto;
    background-color: #05ABF3;
}

.footer .copy-right{
    text-align: center;
    padding: 25px 0;
}

